<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SantoTomas.Properties.Settings.proyectoConnectionString"
            connectionString="Data Source=makot0-pc\;Initial Catalog=proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SantoTomas.Properties.Settings.proyectoConnectionString2222"
            connectionString="Data Source=makoto;Initial Catalog=proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>